# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/        # folder i dalje ignoriran (ne commitaj)
*.iws
*.ipr
# Dopusti .iml da IDE vidi modul
!*.iml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Environment
.env

# Resource files koje želiš commitati
src/main/resources/application.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties